APP_NAME = Gitea: Git with a cup of tea
RUN_MODE = prod
RUN_USER = git

[server]
DOMAIN           = gitea.airgap.local
HTTP_PORT        = 3000
ROOT_URL         = https://gitea.airgap.local/
DISABLE_SSH      = false
SSH_PORT         = 222
OFFLINE_MODE     = true

[database]
DB_TYPE  = postgres
HOST     = db:5432
NAME     = gitea
USER     = gitea
PASSWD   = gitea_admin_pass

[security]
INSTALL_LOCK = true # 설치 완료 후 자동 잠금

[actions]
ENABLED = true
