# k3s용 Harbor imagePullSecret 샘플
# robots.sh 실행 후 k3s-puller 토큰을 받아서 아래 절차로 생성
#
# 사용법:
#   kubectl create secret docker-registry harbor-pull-secret \
#     --docker-server=harbor.airgap.local \
#     --docker-username='robot$k3s-puller' \
#     --docker-password='<robots.sh 출력 비밀번호>' \
#     --namespace=<네임스페이스>
#
# 또는 아래 yaml의 .dockerconfigjson 값을 채워서 apply:
#   echo -n '{"auths":{"harbor.airgap.local":{"username":"robot$k3s-puller","password":"<TOKEN>"}}}' | base64
#   → 출력값을 아래 data 필드에 붙여넣기

apiVersion: v1
kind: Secret
metadata:
  name: harbor-pull-secret
  namespace: default   # 필요한 네임스페이스로 변경
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: <base64-encoded-dockerconfig>

---
# Deployment에서 사용 예시:
# spec:
#   template:
#     spec:
#       imagePullSecrets:
#         - name: harbor-pull-secret
#       containers:
#         - name: app
#           image: harbor.airgap.local/apps/hello:v1
